img.float-left {
  float: left;
  margin: 0 15px 15px 0;
  width: 150px;
  height: auto;
  border-radius: 10px;
}

img.float-right {
  float: right;
  margin: 0 0 15px 15px;
  width: 150px;
  height: auto;
  border-radius: 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}
/* Form Layout Enhancements */
form {
  max-width: 500px;
  margin: 0 auto 30px;
  padding: 20px;
  text-align: left;
}

/* Table Layout Enhancements */
table {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}
